<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.name }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ site.template_url }}/assets/css/main.css" />
</head>
<body>
  <div class="sidebar left w20 sw100 mw30">
    <header>
      {% block header %}
      <a href="{{ site.wpurl }}">
        <img src="{{ site.template_url }}/assets/images/logo.png" alt="logo">
      </a>
      <div class="title">
        <h1>{{ site.name }}</h1>
        <h3 class="sub">{{ site.description }}</h3>
      </div>
      {% endblock %}
    </header>
  </div>
  <div class="main w60 ow20 sw100 sow0 mw70 mow30">
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="sidebar right w20 sw100 mw30">
    <footer>
      <form method="get" id="searchform" action="{{ home }}/">
        <div class="search">
          <input type="text" name="s" placeholder="Search...">
          <button type="submit" value="">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
      {% block footer %}
      <div class="sidebar-link-container">
        <ul class="sidebar-links">
          {% for item in menu.get_items %}
          <li class="{{ item.classes | join(' ') }}">
            <a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <ul class="bottom">
        {% block footer_copyright %}
        <li>&copy; {{ site.name }}</li><li>Design: <a href="https://beryju.org">BeryJu</a></li>
        {% endblock %}
      </ul>
      {% endblock %}
    </footer>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>