{% extends "templates/base.twig.html" %}

{% block content %}
  <div class="post">
    <div class="post-header">
      <h2>{{ post.post_title }}</h2>
      <a class="post-author" href="{{ post.author.link }}">
        <h4 class="sub">{{ post.author.name }}</h4>
      </a>
    </div>
    {{ post.content }}
  </div>
  <div class="post comment-container">
    <h4>Comments:</h4>
    {% for comment in post.comments %}
        <div class="comment comment-order-{{loop.index}}">
            <h5>{{comment.author.name}} said:</h5>
            <p>{{comment.content}}</p>
        </div>
    {% endfor %}
  </div>
{% endblock %}