{% extends "templates/base.twig" %}

{% block content %}
  <div class="banner">

  </div>
{% for post in posts %}
  <div class="post">
    {{ post.content }}
  </div>
{% endfor %}
{% endblock %}